@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);

.layer {
    overflow: scroll; /* Добавляем полосы прокрутки */
    width: 545px; /* Ширина блока */
    height: 180px; /* Высота блока */
    padding: 5px; /* Поля вокруг текста */
    border: solid 1px black; /* Параметры рамки */
}


.text {
    padding: 20px 40px; / *отступ вложенного текста от рамки */
    background: #fff; /* фон рамки */
    font-size: 20px; /* размер шрифта */
    border: 2px dashed #000000; /* размер, форма и цвет рамки */
    border-radius: 10px; /*  радиус скругления углов рамки */
    box-shadow: 0 0 0 4px #fff, 2px 1px 6px 4px rgba(150, 128, 137, 0.5); /* смещение, размер и цвет тени рамки*/
      color: #000000;
      font-family: 'Lato', sans-serif;
}

.data {
  margin-bottom: 2%;
  margin-top: 5%;
}

#history {
  left: 100px;
  bottom: 300px;
  padding: 10px;
  background: #fff; 
  color: #000000;
  width: 560px;
  border-radius: 10px; /*  радиус скругления углов рамки */
}

.alert {
  padding: 15px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
}
.card {
  position: relative;
}

.modals {
  color: #fff;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modals.active .modal-drop {
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.modals.active .modal-content {
  opacity: 1;
  -webkit-transition: 0.5s ease-in 1.5s;
  transition: 0.5s ease-in 1.5s;
}

.modal-drop {
  background: #141221;
  border-radius: 50%;
  width: 150vh;
  height: 150vh;
  position: absolute;
  margin-left: -75vh;
  margin-top: -75vh;
  -webkit-transition: -webkit-transform 2s cubic-bezier(0.25, 1, 0.6, 1), -webkit-transform-origin 0s;
  transition: -webkit-transform 2s cubic-bezier(0.25, 1, 0.6, 1), -webkit-transform-origin 0s;
  transition: transform 2s cubic-bezier(0.25, 1, 0.6, 1), transform-origin 0s;
  transition: transform 2s cubic-bezier(0.25, 1, 0.6, 1), transform-origin 0s, -webkit-transform 2s cubic-bezier(0.25, 1, 0.6, 1), -webkit-transform-origin 0s;
  -webkit-transform: scale(0.001);
          transform: scale(0.001);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.modal-content {
  background: #141221;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.5s 0s;
  transition: 0.5s 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  max-width: 50em;
}

/* Page Styling */
::-moz-selection {
  background: #ffc44d;
  color: #fff;
}
::selection {
  background: #ffc44d;
  color: #fff;
}

::-moz-selection {
  background: #ffc44d;
  color: #fff;
}

html, body {
  height: 100%;
}

body {
  background: #e8e6e3;
  color: #1a3c4d;
  font: 1.125em/1.65 "Open Sans", sans-serif;
  letter-spacing: 0.01em;
  text-rendering: optimizeLegibility;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  background: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 20em;
  padding: 3em;
  position: relative;
  width: 100%;
}
.card::before {
  content: '';
  border: 1px dotted #75f0d1;
  position: absolute;
  top: 1.25em;
  right: 1.25em;
  bottom: 1.25em;
  left: 1.25em;
  pointer-events: none;
}
.card p {
  margin: 0.5em 0 1em;
  padding-bottom: 2em;
  border-bottom: 1px solid #d4f7e5;
}

.open,
.close {
  background: -webkit-linear-gradient(#92e8bb, #77e4b7);
  background: linear-gradient(#92e8bb, #77e4b7);
  border: 1px solid #77e4b7;
  border-bottom: 4px solid #3cddb4;
  border-radius: 2px;
  color: #fff;
  font-weight: 600;
  margin-top: 0.5em;
  padding: 0.5em 1em 0.4em;
  text-shadow: 1px 1px 0 #3cddb4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  float: right;
}
.open:hover,
.close:hover {
  -webkit-filter: brightness(90%) contrast(120%);
          filter: brightness(90%) contrast(120%);
}
.open:focus,
.close:focus {
  box-shadow: 0 0 10px #92e8bb;
  outline: none;
}

.close {
  background: -webkit-linear-gradient(#fa5433, #fa3333);
  background: linear-gradient(#fa5433, #fa3333);
  border: 1px solid #fa3333;
  border-bottom: 4px solid #d60505;
  text-shadow: 1px 1px 0 #d60505;
}
.close:focus {
  box-shadow: 0 0 10px #fa5433;
}


